.gradle/file-system.probe
/.gradle
/.vscode
/.settings
/cupra/.settings
cupra.code-workspace

codeql-custom-queries-java/codeql-pack.lock.yml
codeql-custom-queries-java/codeql-pack.yml
codeql-custom-queries-java/example.ql
